html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fafafa;
  color: #252b42;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-height: inherit;
}

@media screen and (min-width: 414px) {
  .container {
    max-width: 414px;
  }
}

@media screen and (min-width: 1080px) {
  .container {
    max-width: 1050px;
  }
}

h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.section-cards, .preference {
  padding: 0;
  margin: 0;
  list-style: none;
}

.section-pricing {
  text-align: center;
  padding-top: 112px;
  padding-bottom: 112px;
}

.section-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  color: inherit;
}

.section-text {
  margin: 0 auto;
  margin-bottom: 120px;
  max-width: 470px;
  font-weight: 500;
}

@media screen and (min-width: 1080px) {
  .section-text {
    font-weight: 700;
  }
}

@media screen and (min-width: 1080px) {
  .section-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section-card {
  padding: 50px 40px;
  border: 1px solid #23a6f0;
  border-radius: 10px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 665px;
}

.section-card:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 1080px) {
  .section-card:not(:last-child) {
    margin-bottom: 0;
    margin-right: 2px;
  }
}

.section-card:hover,
.section-card :focus {
  background-color: #252b42;
  color: #ffffff;
}

.section-card:hover .card-title {
  color: #ffffff;
}

.section-card:hover .card-description {
  color: #ffffff;
}

.card-title {
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.1px;
  color: #252b42;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-description {
  margin: 0 auto;
  margin-bottom: 35px;
  max-width: 160px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #737373;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-subscription {
  margin-right: 10px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  color: #23a6f0;
}

.subscription-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.subscription-currency {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #23a6f0;
}

.subscription-per {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.2px;
  color: #8ec2f2;
}

.card-preference {
  text-align: left;
  margin-bottom: 35px;
  font-weight: 600;
}

.preference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  line-height: 1.7;
  color: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preference:not(:last-child) {
  margin-bottom: 18px;
}

.preference::before {
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("../../images/circle-grean.svg");
  display: inline-block;
  margin-right: 10px;
}

.preference:nth-last-child(-n + 2)::before {
  background-image: url("../../images/circle-grey.svg");
}

.card-button {
  margin: 0;
  border: none;
  border-radius: 5px;
  padding: 15px 82px;
  min-width: 246px;
  color: #ffffff;
  background-color: #23a6f0;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  line-height: 1.57;
  text-align: center;
  letter-spacing: 0.2px;
  cursor: pointer;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-button:hover, .card-button:focus {
  background: #8ec2f2;
}
/*# sourceMappingURL=main.css.map */